@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #424242;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.keycode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 350px;
}

.press {
  font-size: 38px;
}

i {
  border-bottom: 3px solid royalblue;
}

.wrapper {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  min-width: 900px;
  justify-content: space-between;
}

.flex {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 175px;
  position: relative;
  text-align: center;
  font-size: 28px;
  transition: all 0.2s ease-in;
  cursor: default;
}

.flex:hover {
  transform: translateY(-20%);
}

small {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  border-bottom: 3px solid royalblue;
}
